{{ ansible_managed | comment }}

BASE_URL = '{{ alerta_base_url }}'

{% if alerta_enabled_plugins is defined and alerta_enabled_plugins | length %}
PLUGINS = {{ alerta_enabled_plugins | list }}
PLUGINS_RAISE_ON_ERROR = False
{% endif %}

LOG_FILE = '/var/log/alerta.log'

{% if alerta_auth_required | bool %}
AUTH_REQUIRED = {{ alerta_auth_required }}
SECRET_KEY = '{{ alerta_secretkey }}'
{%  if alerta_admin_users is defined and alerta_admin_users | length %}
ADMIN_USERS = {{ alerta_admin_users }}
{%  endif %}
{%  if alerta_allowed_email_domains is defined and alerta_allowed_email_domains | length %}
ALLOWED_EMAIL_DOMAINS = {{ alerta_allowed_email_domains }}
{%  endif %}
{%  if alerta_allowed_environements is defined and alerta_allowed_environments | length %}
ALLOWED_ENVIRONMENTS = {{ alerta_allowed_environments }}
{%  endif %}
{% endif %}

{{ alerta_prometheus_options }}

{{ alerta_severity_options }}

{{ alerta_color_options }}

{{ alerta_extra_conf_options }}